.menu {
  min-width: 200px;
  background-color: wheat;
  color: #212529;
  font-size: 0.9rem;
  font-weight: 400;
  line-height: 1.6;
  text-align: left;
  padding: 10px 10px 10px 20px;
}

.icon{
    width: 30px;
    padding-right: 5px;
}

.nested{
    padding-left: 35px;
}