.menu {
  min-width: 230px;
  height: 100%;
  background-color: #ffffff;
  color: #212529;
  font-size: 0.9rem;
  font-weight: 400;
  line-height: 1.6;
  text-align: left;
  overflow-y: scroll;
  padding: 10px 10px 10px 10px;
  transition: all 0.5s;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.menu::-webkit-scrollbar {
  display: none;
}

.hide {
  margin-left: -230px;
}

.icon{
  width: 30px;
  padding-right: 5px;
}

.drop{
  float: right;
  padding-right: 20px;
  margin-top: 2px;
}

.nested {
  padding-left: 35px;
}

.collapse{
  display: none;
}

li{
  padding: 8px 0;
}