.menu {
  min-width: 200px;
  height: 100%;
  background-color: #ffffff;
  color: #212529;
  font-size: 0.9rem;
  font-weight: 400;
  line-height: 1.6;
  text-align: left;
  overflow-y: scroll;
  padding: 10px 10px 10px 10px;
  transition: margin-left 0.5s;  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;
}

.menu::-webkit-scrollbar {
  display: none;
}


.hide{
  margin-left: -200px;
}

.icon{
    width: 30px;
    padding-right: 5px;
}

.nested{
    padding-left: 35px;
}