.cartlist {
  background: #eeeeee none scroll 0 0;
  box-shadow: 0 0 85px rgba(0, 0, 0, 0.2);
  height: 100vh;
  opacity: 0;
  overflow-y: scroll;
  position: fixed;
  right: -100%;
  top: 0;
  transition: all 0.25s ease 0s;
  z-index: 999;
  width: 400px;
}

.show {
  opacity: 1;
  padding-bottom: 15px;
  right: calc(0px - 16px);
}

.cartheader {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.cartheader h4 {
  padding-left: 40px;
  font-size: 20px;
  font-weight: 600;
}

.icon {
  padding-right: 8px;
}

.cartheader div {
  padding: 10px;
  padding-right: 26px;
  background-color: #009f7f;
  color: white;
}

.offer {
  display: block;
  margin: auto;
  text-align: center;
  height: 30px;
  background-color: yellow;
  font-size: 14px;
  font-weight: 600;
  line-height: 24px;
}

.summary {
  width: 100%;
  padding: 26px;
  padding-bottom: 0;
}

.row {
  display: flex;
  justify-content: space-between;
}

.row > div:first-child {
  padding: 10px 0;
  width: 180px;
  border-top: 1px solid #ddd;
  text-align: start;
}
.row > div:last-child {
  padding: 10px 0;
  width: 80px;
  border-top: 1px solid #ddd;
  text-align: end;
}

.row:last-child {
  font-weight: 600;
}

.button {
  width: 100%;
  padding: 18px 20px 0px 15px;
}

.place_order {
  width: 100%;
  padding: 12px;
  font-size: 18px;
  cursor: pointer;
}

.coupon {
  background-color: #fff;
  margin: 18px 20px 0px 15px;
  border-radius: 3px;
  transition: all 1s ease;
}

.couponbtn {
  color: black;
  background-color: white;
}

.collapse {
  display: none;
}

.collapsediv {
  border-top: 1px solid #ddd;
}

.input {
  border: 1px solid #ddd;
  line-height: 1.9rem;
  padding: 4px 10px;
  border-radius: 3px;
}

.applybtn {
  padding: 16px 0;
}

.apply {
  width: 100%;
  margin-bottom: 15px;
  font-weight: 500;
  padding: 10px;
  font-size: 0.9rem;
  background-color: black;
  letter-spacing: 1px;
  cursor: pointer;
}
