.item {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 21px 26px 21px 10px;
  border-bottom: 1px solid #ddd;
}

.image {
  width: 100px;
  height: 100px;
  padding: 15px;
}

img{
    border-radius: 7px;
}

.detail {
  flex-grow: 1;
  padding-left: 5px;
  height: 75px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.quantity {
  display: flex;
}

.quancount{
    margin: 0 10px;
    width: 80px;
    background-color: #fff;
    border-radius: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
}

button{
    color: white;
    background-color: #009f7f;
    border: none;
    border-radius: 3px;
    padding: 5px 8px;
}

.price{
    font-weight: 500;
}

.remove{
    color: red;
}

