.body {
  display: flex;
  margin-top: 66px;
  /* overflow-y: scroll; */
  height: calc(100vh - 66px);
}

/* Hide scrollbar for Chrome, Safari and Opera
.example::-webkit-scrollbar {
  display: none;
} */

/* Hide scrollbar for IE, Edge and Firefox */
/* .example {
  -ms-overflow-style: none; 
  scrollbar-width: none; 
} */
